<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6e652e11-ee52-40e6-94d1-00d10bdf3c00/resourceGroups/AppLanchesRg/providers/Microsoft.Web/sites/applanches</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://applanches-bvhagaeyexamecf0.brazilsouth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>ad76aa3f-be62-4766-9e44-96e25d7e4219</ProjectGuid>
    <PublishUrl>https://applanches-bvhagaeyexamecf0.scm.brazilsouth-01.azurewebsites.net/</PublishUrl>
    <UserName>$applanches</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>